{% extends "layout.html" %}

{% block body %}

<form action="/" method="post">
    <!-- lnegth input -->
     <input type="text" name="length" autofocus autocomplete="off" placeholder="Length">

    {% if password %}
        <div class="password-result">
            <p>Length {{ length }} : <strong>{{ password }}</strong></p>
        </div>
    {% endif %}

    {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
    {% endif %}

    <div class="checkbox-group">
        <!-- labels section -->
    <label class="checkbox-option">
        <input type="checkbox" name="ascii_letters" value="ascii_letters">
        <span class="checkbox-custom"></span>
        <span class="checkbox-label">Abc</span>
    </label>

    <label class="checkbox-option">
        <input type="checkbox" name="digits" value="digits">
        <span class="checkbox-custom"></span>
        <span class="checkbox-label">123</span>
    </label>

    <label class="checkbox-option">
            <input type="checkbox" name="punctuation" value="punctuation">
        <span class="checkbox-custom"></span>
        <span class="checkbox-label">!@#</span>
    </label>
    </div>
    <input type="submit" value="Generate">
</form>



{% endblock %}